services:
  db:
    image: postgres:15-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "8888:5432"

  redis:
    image: redis:alpine
    restart: always
    ports:
      - "9999:6379"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev 
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - ./backend:/rails
    ports:
      - "3000:3000"
    environment:
      RAILS_ENV: development
      DATABASE_URL: postgres://postgres:password@db:5432/marketplace_development
      REDIS_URL: redis://redis:6379/1
    depends_on:
      - db
      - redis
    stdin_open: true
    tty: true

  sidekiq:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    command: bundle exec sidekiq
    volumes:
      - ./backend:/rails
    environment:
      RAILS_ENV: development
      DATABASE_URL: postgres://postgres:password@db:5432/marketplace_development
      REDIS_URL: redis://redis:6379/1
    depends_on:
      - db
      - redis

volumes:
  postgres_data: